<h1>Wordplay Game</h1>
<div id="countdown" style="display: none;">3</div>
<div id="gameContent" style="display: none;">
    <div id="question-container">
        <h2 id="question-title">Question</h2>
        <p id="question-text"></p>
        <input id="answer" />
        <p id="question-result"></p>
    </div>
</div>